{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<html>  <body bgcolor="purple">
<h1 align="center">BIO DATA</h1>
<center>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToo2M6jRIaCoC3CrVqSdcfG8EQNkGkXwCVRQ&usqp=CAU">
<img src="images/i0.jpg" height="200" width="200">

<pre><b> NAME-Jessi and Barbie</b></pre>
<pre><b> AGE-22</b></pre>
<pre><b> DOB-30/06/2000</b></pre>
<pre><b> E-MAIL-barbiedoll@gmaill.com</b></pre>
<pre><b> ADDRESS-29/1,G.M.Street</b></pre>
<pre><b> CITY-London</b></pre>
<pre><b> CONTACT-8190987832</b></pre>

<p><b>HOBBIES</b></p>
<p>Travelling</p>
<p>Listening Music</p></center>
<hr>    
        <h1 align=Center>**ACADAMIC DETAILS**</h1>
        <table border="4" align="Center">
            
            <tr>
                <th>Course</th><th>Institution</th><th>Percentage(CGPA)</th></tr>
                <tr><td>HSC</td>
                    <td>Sacred Heart Hr.Sec.School</td>
                    <td>84%</td></tr>
    
                    <tr>
                        <tr><td>SSLC</td>
                            <td>Sacred Heart Hr.Sec.School</td>
                            <td>89%</td></tr>
                            
                            <tr>
                                <tr><td>UG</td>
                                    <td>Ayya Nadar Ammal College</td>
                                    <td>76%</td></tr>
                                    
                                    <tr>
                                    <tr><td>PG</td>
                                        <td>Ayya Nadar Ammal College</td>
                                        <td>82%</td></tr>
    
        </table><br><br><br>
</body>
</html>

